---
http_interactions:
- request:
    method: get
    uri: http://api.funtranslations.com/translate/yoda.json?text=Master%20Obiwan%20has%20lost%20a%20planet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Auth-Status:
      - 'true'
      X-Ratelimit-Limit:
      - 5 per hour
      X-Ratelimit-Remaining:
      - '3'
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "success": {
                "total": 1
            },
            "contents": {
                "translated": "Lost a planet,  master obiwan has",
                "text": "Master Obiwan has lost a planet",
                "translation": "yoda"
            }
        }
  recorded_at: Fri, 12 May 2017 12:11:10 GMT
recorded_with: VCR 3.0.3
